<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Landing Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/styles/layout.css">

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>


  </head>
  <body>
      <!-- Navigation -->
      <%- include('partials/_header') %>

      <div class="resource_container" style="margin-top: 150px">
        <ul>
          <% notes.forEach(note => { %>
            <div class="resource_box">
            <li>
              <p>Title: <%= note.title %></p>
              <p>URL: <%= note.url  %></p>
              <p>Description: <%= note.description %></p>
              <p>Topic: <%= note.topic %></p>
              <p><a href="/notes/<%= note.url_id %>">See MORE</a></p>

              <form action="/api/v1/notes/<%= note.url_id %>/unlike" method="POST">
                <button type="submit" class="like"><i class="far fa-trash-alt"></i></button>
              </form>
            </li>
          </div>
          <% }); %>
        </ul>
      </div>

      <%- include('partials/_footer.ejs') %>

  </body>
</html>
