<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Landing Page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

  </head>
  <link rel="stylesheet" href="/styles/layout.css">

  <header>
    <!-- Navigation -->
    <%- include('partials/_header') %>
  </header>
  <body>
    <div class="resource_container">
      <div class="create_resource_box">
    <main style="margin: 1em">
          <h2 class="create_new">Edit resource... <i class="fas fa-pencil-alt prefix"></i> </h2>

          <form action="/api/v1/notes/<%= note.id %>/edit" method="POST">

            <div class="form-row">
              <div class="col">
                <label for="title">Title</label>
                <input type="text" class="form-control" value="<%= note.title %>" id="title" name="title">
              </div>
              <div class="col">
                <label for="topic">Topic</label>
                <input type="text" class="form-control" value="<%= note.topic %>" id="topic" name="topic">
              </div>
            </div>

            <div class="form-group purple-border">
              <label for="url">URL</label>
              <textarea class="form-control" id="url" rows="1" name="url"><%= note.url %></textarea>
            </div>

            <div class="form-group purple-border">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" rows="10" name="description"><%= note.description %></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

        </div>
      </div>
    </main>
    </div>
  </div>

    <%- include('partials/_footer.ejs') %>
  </body>
</html>
